<!doctype html>

A user’s profile, containing their name, contribution score (?), button to see their list of friends, and a list of their albums
{% if name %}
	<h1>{{ name[0] }}'s Profile</h1>
{% endif %}

{% if photos %}
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <form action = "/{{uid}}" method="POST">
            <div>
                <input type='text' name="comment" placeholder='Write Comment Here'>
                <button type="submit" value="{{ photo[1] }}">Comment!</button>
            </div>
        </form>
    {% endfor %}
    </ul>
{% endif %}

{% if self_view %}
	<h1>test self view</h1>
{% endif %}

{% if anon %}
	<h1> anon</h1>
{% endif %}


<!-- - Logged in view (of OWN PROFILE): (@flask_login.login_required)  Users able to delete their own albums and photos. Also, upload is available here.
- Logged in view (of OTHER USER PROFILE): (@flask_login.login_required) button so user can add person as a fiend
- Not logged in view: just view the albums, be able to click on them and see them
    This is true for all, the above just has extra features -->
